@import '../_helpers/color';
@import '../_helpers/size';

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

@keyframes loading {
  0% {
    top: 50%;
  }
  100% {
    top: 200px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingPage {
  position: absolute;
  background-color: $backgroundColor;
  width: 100%;
  height: 100%;
  // animation: loading 2s linear;
  & img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: loading 1s linear;
  }
}
