.head {
  padding: 10px 10px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

.head div:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 550;
}
