.head {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0px;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  z-index: 100;
}

.head div:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.head div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 550;
  font-size: 1.6rem;
}

.mComment {
  width: calc(100%);
  max-width: 936px;
  height: 100%;
  margin: auto;
  font-size: 1.4rem;
  margin-bottom: 64px;
  margin-top: 51px;
}

.mComment .mContent {
  padding: 20px 20px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.mComment .mContent .userNickname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mComment .mContent .userNickname > p {
  line-height: 24px;
  font-weight: 550;
}

.mComment .mContent .postContent {
  margin-left: 44px;
}

.mComment .mContent .time {
  margin-top: 10px;
  margin-left: 44px;
  color: #8e8e8e;
  font-size: 1.2rem;
}

.userIcon {
  width: 32px;
  height: 32px;
  background-color: #dbdbdb;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.userIcon img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.timeAndReply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  margin-top: 5px;
}

.timeAndReply div {
  color: #8e8e8e;
  margin-right: 10px;
}

.timeAndReply button {
  border: 0;
  background-color: transparent;
  color: #8e8e8e;
  font-size: 1.2rem;
}

.timeAndReply p {
  color: #8e8e8e;
}

.postComment {
  width: 100%;
}

.postComment ul {
  margin-top: 15px;
  padding: 0 20px;
}

.postComment ul li {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postComment ul li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postComment ul .contentInComment {
  width: 100%;
}

.postComment ul .contentInComment span {
  max-width: 100vw;
  word-break: break-all;
}

.postComment ul .contentInComment span img {
  margin-left: 10px;
  cursor: pointer;
}

.postComment ul .contentInComment span:nth-child(1) {
  font-weight: 550;
  margin-right: 10px;
}

.postComment ul .reply .userIcon {
  width: 27px;
  height: 27px;
}

.commentsMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 10px;
}

.commentsMore span {
  width: 24px;
}

.commentsMore span::after {
  display: block;
  content: '';
  clear: both;
  position: absolute;
  left: 0%;
  top: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  border-top: 1px solid #8e8e8e;
}

.commentsMore p {
  margin-left: 10px;
  color: #8e8e8e;
}

.form {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 936px;
  background-color: #dbdbdb;
  padding: 10px 0;
}

.form form {
  width: calc(100% - 60px);
  min-height: 40px;
  border-radius: 20px;
  background: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form form .text {
  border: none;
  overflow: visible;
  width: 80%;
  height: 20px;
  max-height: 80px;
  outline-color: white;
  resize: none;
}

.form form button {
  border: none;
  font-size: 1.4rem;
  color: #409857;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.Replyform {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 936px;
  background-color: #dbdbdb;
  padding: 10px 0;
  z-index: 10;
}

.Replyform form {
  width: calc(100% - 60px);
  min-height: 40px;
  border-radius: 20px;
  background: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Replyform form .text {
  border: none;
  overflow: visible;
  width: 80%;
  height: 20px;
  max-height: 80px;
  outline-color: white;
  resize: none;
}

.Replyform form button {
  border: none;
  font-size: 1.4rem;
  color: #409857;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.commentBox {
  position: absolute;
  top: -40px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dbdbdb;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
}

.commentBox div {
  margin-right: 40px;
  padding: 10px 10px;
  cursor: pointer;
}
