.back {
  background-color: #3b3733;
  width: 100vw;
  height: 100vh;
}

.back .maxWidth {
  max-width: 800px;
  margin: auto;
  padding-top: 200px;
}

.back input,
.back button {
  width: calc(100% - 20%);
  height: 35px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.back button {
  margin-top: 20px;
  background-color: #409857;
  color: white;
}

.back button:active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.logoBox {
  text-align: center;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
  color: white;
  background: url(../../public/youth_logo_ling_white.png) center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 37px;
}
