.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form div {
  width: calc(100% - 22%);
  padding-top: 5px;
  color: white;
}

.div {
  text-align: center;
}

.div a {
  display: block;
  margin-top: 20px;
}

.div a p {
  font-size: 1.4rem;
  color: #409857;
}

.div a p em {
  color: white;
  margin-left: 10px;
}

.checkBox {
  width: calc(100% - 20%);
}

.checkBox input {
  width: 15px;
  float: left;
  margin-top: 0px;
}

.checkBox span {
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 1.2rem;
  color: white;
}
