.memberListWrap {
  height: 110px;
  overflow: hidden;
}

.memberListWrap .memberlistInnerBox {
  position: relative;
}

.memberlist {
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.memberlist .memberListImg {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: white;
}

.memberlist .memberListImg img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.memberlist p {
  margin-top: 10px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hessedMemberNumber {
  font-size: 1.4rem;
  margin-left: 20px;
}

.left {
  position: absolute;
  top: 50px;
  left: 10px;
  cursor: pointer;
}

.left img {
  width: 24px;
  height: 24px;
}

.right {
  position: absolute;
  top: 50px;
  right: 10px;
  cursor: pointer;
}

.right img {
  width: 24px;
  height: 24px;
}
