.a {
  font-size: 1.4rem;
  font-weight: 550;
  margin-top: 20px;
  border-bottom: 1px solid #dfdfdf;
}

.a .maxWidth {
  max-width: 935px;
  margin: auto;
}

.a .maxWidth .postCard {
  max-width: 600px;
  height: 100%;
  position: relative;
}

.postHead {
  width: calc(100% - 40px);
  height: 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postHead header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postHead header div {
  margin-right: 20px;
  cursor: pointer;
}

.postHead header div:nth-child(1) img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.postHead .menu {
  margin-right: 0px;
  margin-left: auto;
  cursor: pointer;
}

.optionButtonWrap {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

.buttonWrap {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.optionButton {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  text-align: center;
  width: 80%;
  height: auto;
  border-radius: 15px;
}

.optionButton div {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.optionButton div:nth-child(1) {
  border-bottom: 1px solid #dfdfdf;
}

.postImage {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.bottomLogo {
  font-size: 1.8rem;
  text-align: center;
}
