.imageBox {
  width: 1000%;
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1.5px solid #dbdbdb;
  border-top: 1.5px solid #dbdbdb;
}

.imageBox .imageInnerBox {
  width: 100vw;
  height: 100vw;
  position: relative;
}

.imageBox .imageInnerBox > img {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
}

.imageBox span {
  position: absolute;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

.left {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 50px;
  height: 60px;
  cursor: pointer;
  z-index: 10;
}

.left > img {
  position: absolute;
  width: 24px;
  opacity: 0.6;
}

.right {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 60px;
  z-index: 10;
  cursor: pointer;
}

.right > img {
  position: absolute;
  width: 24px;
  opacity: 0.6;
}

@media screen and (min-width: 720px) {
  .imageBox {
    width: 1000%;
    height: 600px;
  }
  .imageBox .imageInnerBox {
    width: 10%;
    height: 100%;
  }
  .left {
    position: absolute;
    top: 50%;
    left: 10px;
  }
  .left > img {
    position: absolute;
    width: 24px;
    height: auto;
    z-index: 10;
  }
  .right > img {
    position: absolute;
    z-index: 10;
    width: 24px;
    height: auto;
  }
}
