.art {
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 10px;
}

.art > div {
  margin-top: 5px;
}

.art em {
  font-style: normal;
}

.content > p {
  font-size: 1.4rem;
  font-weight: 550;
}

.content > span {
  font-weight: normal;
}

.content button {
  border: none;
  font-size: 1.4rem;
  background-color: transparent;
  color: #8e8e8e;
}

.comment span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 550;
  margin-right: 10px;
}

.comment span:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 10px;
}

.commentMore {
  color: #8e8e8e;
  margin-top: 5px;
}
