* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

@-webkit-keyframes loading {
  0% {
    top: 50%;
  }
  100% {
    top: 200px;
  }
}

@keyframes loading {
  0% {
    top: 50%;
  }
  100% {
    top: 200px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingPage {
  position: absolute;
  background-color: #3b3733;
  width: 100%;
  height: 100%;
}

.loadingPage img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loading 1s linear;
  animation: loading 1s linear;
}
.popup {
  display: none;
}

@media screen and (min-width: 768px) {
  .popup {
    display: block;
    width: 100vw;
    height: 100vw;
    background-color: #3b3733;
    text-align: center;
    position: relative;
  }
  .popupText {
    padding-top: 20%;
  }

  .popupText em {
    display: block;
    font-size: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 100px;
  }
}
