* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-touch-callout: none;
}

html,
body {
  font-size: 10px;
  background-color: #f9f9f9;
}

/* textarea,
input {
  word-spacing: 0px;
} */

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

/* .backgroundTop {
  position: fixed;
  width: 100%;
  height: 50vw;
  background: #3b3733;
  z-index: -10;
  top: 0;
}
.backgroundBottom {
  position: fixed;
  width: 100%;
  height: 50vw;
  background: #3b3733;
  z-index: -10;
  bottom: 0;
} */

@-webkit-keyframes loading {
  0% {
    top: 50%;
  }
  100% {
    top: 200px;
  }
}

@keyframes loading {
  0% {
    top: 50%;
  }
  100% {
    top: 200px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingPage {
  position: absolute;
  background-color: #3b3733;
  width: 100%;
  height: 100%;
}

.loadingPage img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loading 1s linear;
  animation: loading 1s linear;
}

/* .popup {
  display: block;
  width: calc(100% - 50px);
  height: 80vh;
  overflow: scroll;
  background-color: white;
  text-align: center;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup button {
  all: unset;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}
.popup p {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0;
}

.popup img {
  width: 80%;
} */

@media screen and (min-width: 768px) {
}
