* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

@-webkit-keyframes loading {
  0% {
    top: 50%;
  }
  100% {
    top: 200px;
  }
}

@keyframes loading {
  0% {
    top: 50%;
  }
  100% {
    top: 200px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingPage {
  position: absolute;
  background-color: #3b3733;
  width: 100%;
  height: 100%;
  /* -webkit-animation: loading 2s linear;
  animation: loading 2s linear; */
}

.loadingPage img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loading 1s linear;
  animation: loading 1s linear;
}
